<div class="main-content">
  <div class="container-fluid">
    <h2>Indentity Management</h2>

    <div class="row">
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                class="card-img-top"
                src="./assets/img/softwarelogo/activeDirectory.png"
                alt="activeDirectory logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h6 class="title mx-auto">ActiveDirectory</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/gsuite.png"
                alt="gsuite logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">G SUITE</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/oneLogin.png"
                alt="oneLogin logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">OneLogin</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/okta.png"
                alt="okta logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">Okta</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/jumpCloud.png"
                alt="jumpCloud logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">jumpCloud</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/sailPoint.png"
                alt="SailPoint logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">SailPoint</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ==================------- FINANCE ---------=============== -->

  <div class="container-fluid">
    <h2>Finance</h2>

    <div class="row">
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/netsuite.png"
                alt="NetSuite logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">NetSuite</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/concur.png"
                alt="Concur logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">Concur</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/sap.png"
                alt="SAP logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">SAP</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/expensify.png"
                alt="Expensify logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">Expensify</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/oracle.png"
                alt="Oracle logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">Oracle</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/qp.png"
                alt="qb logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">qb</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/bill.png"
                alt="Bill.com logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">Bill.com</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/microsoftDynamics.png"
                alt="Microsoft Dynamic NAV logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">Microsoft Dynamic NAV</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ==================------- Direct Integration ---------=============== -->

  <div class="container-fluid">
    <h2>Direct Integration</h2>

    <div class="row">
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/slack.png"
                alt="slack logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">slack</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/salesForce.png"
                alt="salesforce logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">salesforce</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/atlassian.png"
                alt="Atlassian logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">Atlassian</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/box.png"
                alt="box logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">box</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/office.png"
                alt="Office logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">Office</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/dropBox.png"
                alt="Dropbox logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">Dropbox</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/in.png"
                alt="invision logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">invision</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/workDay.png"
                alt="workday logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">workday</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/zoom.png"
                alt="zome logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">zoom</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/asana.png"
                alt="asana logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">asana</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/intercom.png"
                alt="Intercom logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">Intercom</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/jumpCloud.png"
                alt="JumpCloud logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">JumpCloud</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/hubSpot.png"
                alt="HubSpot logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">HubSpot</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/gong.png"
                alt="GONG logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">GONG</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/zendesk.png"
                alt="zendesk logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">zendesk</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/pipedrive.png"
                alt="pipedrive logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">pipedrive</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/pagerDuty.png"
                alt="pagerduty logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">pagerduty</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/jetBeans.png"
                alt="JetBrains logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">JetBrains</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/salesLoft.png"
                alt="SalesLoft logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">SalesLoft</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header">
            <div class="card-icon text-center">
              <img
                src="./assets/img/softwarelogo/monday.png"
                alt="monday.com logo image"
                class="avatar"
              />
            </div>
          </div>
          <div class="card-footer d-flex">
            <h4 class="title mx-auto">monday.com</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
