<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="input-group no-border">


              <h3 class="card-title">List Of Users</h3>

              <input type="text" value="" class="form-control search" placeholder="Search..." />
              <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon search-button">
                <i class="material-icons search-button">search</i>
                <div class="ripple-container"></div>
              </button>
            </div>
            <p class="card-category"></p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>Sno.</th>
                  <th>UserName</th>
                  <th>Applications</th>
                  <th>Cost(current month) </th>
                  <th>Cost till date</th>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>
                      <a routerLink="/userdetail"> Rohan Sharma</a>
                    </td>
                    <td>7</td>
                    <td class="text-primary">$68</td>
                    <td class="text-primary">$740</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>
                      <a routerLink="/userdetail"> Akash Pawar</a>
                    </td>
                    <td>5</td>
                    <td class="text-primary">$48</td>
                    <td class="text-primary">$517</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>
                      <a routerLink="/userdetail"> Gaurav Kalje </a>
                    </td>
                    <td>15</td>
                    <td class="text-primary">$180</td>
                    <td class="text-primary">$1,924</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>
                      <a routerLink="/userdetail"> Harshal Bharre </a>
                    </td>
                    <td>10</td>
                    <td class="text-primary">$101</td>
                    <td class="text-primary">$1,064</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>
                      <a routerLink="/userdetail"> Ashwini Shinde </a>
                    </td>
                    <td>18</td>
                    <td class="text-primary">$196</td>
                    <td class="text-primary">$2,079</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>
                      <a routerLink="/userdetail"> Rakesh Ingale </a>
                    </td>
                    <td>12</td>
                    <td class="text-primary">$110</td>
                    <td class="text-primary">$990</td>
                  </tr>
                </tbody>
              </table>
              <div>

                <mat-paginator [length]="100" [pageSize]="10" aria-label="Select page">
                </mat-paginator>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>