<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">List Of Users</h4>
              <p class="card-category"></p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-primary">
                    <th>Sno.</th>
                    <th>UserName</th>
                    <th>Applications</th>
                    <th>Cost(current month) </th>
                    <th>Cost till date</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>
                        <a routerLink="/userdetail"> Rohan Sharma</a>
                      </td>
                      <td>7</td>
                      <td class="text-primary">$68</td>
                      <td class="text-primary">$740</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>
                        <a routerLink="/userdetail"> Akash Pawar</a>
                      </td>
                      <td>5</td>
                      <td class="text-primary">$48</td>
                      <td class="text-primary">$517</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>
                        <a routerLink="/userdetail"> Gaurav Kalje </a>
                      </td>
                      <td>15</td>
                      <td class="text-primary">$180</td>
                      <td class="text-primary">$1,924</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>
                        <a routerLink="/userdetail"> Harshal Bharre </a>
                      </td>
                      <td>10</td>
                      <td class="text-primary">$101</td>
                      <td class="text-primary">$1,064</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>
                        <a routerLink="/userdetail"> Ashwini Shinde </a>
                      </td>
                      <td>18</td>
                      <td class="text-primary">$196</td>
                      <td class="text-primary">$2,079</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>
                        <a routerLink="/userdetail"> Rakesh Ingale </a>
                      </td>
                      <td>12</td>
                      <td class="text-primary">$110</td>
                      <td class="text-primary">$990</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
     
      </div>
    </div>
  </div>
        
      
  


  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
  <!-- <div class="col-md-4 clearfix  d-md-block">
    <div class="card mb-2">
      <div class="card-body"> -->
        <!-- <div class="modal fade" id="basicExampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">UserDetails</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
  
              <div class="modal-body ">
                <p>Page is Under Maintenence</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
              </div>
            </div>
          </div>
        </div> -->
      <!-- </div>
    </div>
  </div> -->
  
