<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerList="dashboard">
            SaaS Management System
          </a>
        </li>
        <li>
          <a href="https://www.tangoe.com/about-tangoe/"> About Us </a>
        </li>
        <li>
          <a href="https://www.tangoe.com/privacy-policy/"> Privacy </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      Copyright &copy;
      {{ test | date: "yyyy" }} Tangoe. All Rights Reserved.
      <!-- <a href="https://www.tangoe.com/" target="_blank">@Tangoe</a> -->
    </div>
  </div>
</footer>
