<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">SaaS Software In User</h4>
            <p class="card-category"></p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>Sno.</th>
                  <th>Name</th>
                  <th>User</th>
                  <th>State</th>
                  <th>Expense</th>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>
                      <a routerLink="/softwareDashboard"> ZOOM </a>
                    </td>
                    <td>350</td>
                    <td>Sanctioned</td>
                    <td class="text-primary">$36,738</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>
                      <a routerLink="/softwareDashboard"> AWS </a>
                    </td>
                    <td>200</td>
                    <td>Sactioned</td>
                    <td class="text-primary">$23,789</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>
                      <a routerLink="/softwareDashboard"> SalesForces </a>
                    </td>
                    <td>173</td>
                    <td>In Review</td>
                    <td class="text-primary">$0</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>
                      <a routerLink="/softwareDashboard"> FreshDesk </a>
                    </td>

                    <td>329</td>
                    <td>Evaluation Period</td>
                    <td class="text-primary">$38,735</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>
                      <a routerLink="/softwareDashboard"> Acuity Scheduling </a>
                    </td>
                    <td>320</td>
                    <td>Closed</td>
                    <td class="text-primary">$0</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>
                      <a routerLink="/softwareDashboard"> Jump Cloud </a>
                    </td>
                    <td>100</td>
                    <td>Discovered</td>
                    <td class="text-primary">$78,615</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
