<div class="main-content">
  <div class="container-fluid">


    <div class="card">
      <div class="card-header">
        <img src="./assets/img/logo/Tangoe_logo.png" width="150" height="45" alt="Tangoe logo image" /> SaaS Management
        Platform
        <!-- <h4 class="card-title">Tangoe SaaS Management Plateform</h4> -->
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header login-header">
            <h3 class="card-title">Login to Tangoe SMP</h3>
          </div>
          <div class="card-body">
            <form [formGroup]="formValue">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-8">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Username" formControlName="userName" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-8">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Password" type="password" formControlName="password" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn  pull-center" (click)="login()">
                  Login
                </button>


              </div>